# Format
# text|amplifiedText|percent|ampDirection
#
# text -> normal string displayed on a guess
# amplifiedText -> text displayed on consecutive guesses in the same section
# percent [0-100] -> % threshold (difference from the target number)
# ampDirection [+/-] -> whether text is amplified closer or further away from the target
#
# Order does not matter, the sections are sorted by the program after parsing
Inferno|HELLFIRE|1|+
Burning|Blazing|5|+
Scorching|Scorchier|10|+
Hot|Hotter|20|+
Warm|Warmer|33|+
Cold|Colder|66|-
Freezing|Winter is coming|100|-